# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
.venv
venv/
ENV/
env/
.eggs/
*.egg-info/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# Tests
htmlcov/
.coverage
.pytest_cache/
.tox/

# Documentation
docs/_build/

# Docker
Dockerfile*
docker-compose*
.docker/

# Divers
*.log
*.pot
*.md
!README.md
.env*
!.env.example
*.sqlite3
db.sqlite3

# Media et static en développement
media/
staticfiles/

# OS
.DS_Store
Thumbs.db
